:root {
    --Primary:#932576;
    --Background:#040103;
    --Secondary:#180614;
    --Accent:#BC2F96;
    --Text:#FBEFF8;
}


#hero {
    background: var(--Background);
    padding: 50px 0px 0px 0px;
    background-size: cover;
    background-repeat:no-repeat ;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: var(--Text);
}

#hero span {
    color: var(--Accent);
}

#hero p {
    font-size: 24px;
    color: var(--Text);
}

#hero .tittle {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.button-container {
    display: flex;
    justify-content: start;
}

.main-button {
    background: var(--Secondary);
}

.second-button {
    background: var(--Accent);
}

#hero a {
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    font-weight:300;
    cursor: pointer;
    border-radius: 5px;
}

.main-button:hover{
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
    -webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
    -moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}
.second-button:hover {
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
    -webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
    -moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}

#profil {
    color: var(--Text);
    background: var(--Background);
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profil .about-container {
    width: 50%;

}

#profil .hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

#profil p {
    width: 70%;
    font-size: 18px;
    text-align: justify;
}

#profil span {
    color: var(--Accent);
}

#profil a {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
}

#profil-2 {
    background: var(--Background);
    color: var(--Text);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.benefit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.benefit-card {
    background:var(--Secondary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 25vw;
    margin: 10px 10px;
}

.benefit-card * {
    margin: 0;
}



#services {
    background: var(--Background);
    display: flex;
    padding: 25px 0px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--Text);
    
}

#services .search-bar {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
}

.input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 25px;
}


.search-bar input {
    width: 80%;
    box-sizing: border-box;
    height: 45px;
    background: rgba(147, 37, 118, 0);
    border-radius:10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(147, 37, 118, 0.5);
color:white;
font-weight:500;
font-size: 18px;

}


.input-bar img {
    border: 1px solid rgba(147, 37, 118, 0.5);
    border-radius: 10px 0px 0px 10px;
    background: rgba(147, 37, 118, 1);
    width: 45px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#services .card {
    color:white;
    padding: 25px;
    width:20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 15px;
/* From https://css.glass */
background: rgba(84, 80, 80, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(84, 80, 80, 0.3);
}

/*#services .card:hover {
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}*/

.card h1 {
    font-size: 32px;
}


.card p {
    text-align: justify;
    color: var(--Text);
    margin: 5;
}

.card h2:nth-child(3){
    margin: 5px;
    color: var(--Accent);
}

.booking-button {
    margin-top: 25px;
    background: var(--Primary);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.booking-button:hover {
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}

.card .price {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.card .price * {
    line-height: 20px;
}

.card .price h2:nth-child(1) {
    background: var(--Accent);
    padding: 10px;
}

.card .price h2:nth-child(2) {
    text-decoration: line-through;
}


.card h2 {
    text-align: center;
}

#FAQ {
    color: var(--Text);
    padding: 25px 0px
    150px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:var(--Background);
}


.faq-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 25px;
    border-radius: 5px;
}

.question-card {
    background: rgba(84, 80, 80, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(84, 80, 80, 0.3);
    padding: 10px;
    font-size: 20px;
    padding: 0px 15px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.question-card:hover {
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}

.active {
    box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-webkit-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
-moz-box-shadow: -1px 0px 7px 5px rgba(147,37,118,0.32);
}


.answer-card {
    background: var(--Background);
    padding: 10px;
    font-size: 18px;
    max-height: 999px;
    transition: 0.5s;
}


.hide {
    height: auto;
    max-height: 0px;
    transition: 0.5s;
    overflow-y: hidden;
}

.slider img {
    margin: 0px 5px;
}

#contact {
    color: var(--Text);
    background: var(--Background);
    padding: 25px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact .contact-card {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    padding: 0px 20px;
    background: black;
    font-size: 18px;
    margin: 25px 0px;
}

.icon {
    scale: 1.3;
    margin-right: 25px;
}

@media (max-width: 800px) {

    body {
        background: var(--Background);
    }

    h1 {
        font-size: 24px !important;
    }

    #hero {
        flex-direction: column-reverse;
        padding: 50px 0px 0px 0px;
    }

    .tittle {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hero-image {
        height: 35vh;
    }

    .hero-image img {
        width: 80vw;

    }

    #hero h1 {
        font-size: 24px;
    }
    
    #hero p {
        font-size: 18px;
        text-align: center;
    }

    #hero a {
        font-size: 18px;
    }



    #profil {
        padding: 18px 0px 0px 0px;
        flex-direction: column;
    }

    #profil h1 {
        font-size: 30px;
    }

    
    #profil p {
        font-size: 18px;
        text-align: justify;
        width: 100%;
    }

    #profil .about-container {
        padding: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #profil a {
        text-decoration: none;
        color: white;
        background: black;
        padding: 15px;
        font-size: 18px;
        cursor: pointer;
    }

    #profil-2 {
        text-align: center;
        padding: 15px;
        width: 100;
        align-items: center;
        justify-content: center;
    }

    .benefit-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .benefit-card {
        width: 90%;
        margin: 5px 0px 0px 0px;
    }

    #services {
        flex-direction: column;

        align-items: center;
        justify-content: center;
        padding: 15px 0px 0px 0px;
    }

    .search-bar {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .input-bar input {
        width: 100%;
    }

    #services .card {
        width: 80%;
    }

    
}